.game {
  margin: 0;
  padding: 12px;
  display: flex;
  flex-direction: column;
}

.gameStatus {
  align-self: center;
}

.board {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  align-self: center;
}

.boardRow {
  display: flex;
  flex-direction: row;
  padding: 2px;
}

.boardRow * {
  margin: 0 2px;
}

.menu {
  align-self: center;
}
